.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.letters button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  color: #888;
}

.letters {
  margin-top: 20px;
}

h2 {
  color: green;
}

.App button {
  font-size: 18px;
  padding: 10px 20px;
}
